body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
}
.flxible-section{
display: flex;
margin-bottom: 100px;
}
.flxible-section-half-width-text{
width: 50%;
margin-left: 30px;
margin-top: 100px;
}
.flxible-section-half-width-text h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(61, 61, 61);
    border-left: 3px solid tomato;
}
.flxible-section-half-width-text h2{
    font-size: 40px;
    font-weight: 600;
    color: mediumseagreen;
}
.flxible-section-half-width-text p{
    color: rgb(22, 22, 22);
    font-weight: 300;
    padding-bottom: 40px;
}
.flxible-section-half-width-img{
    width: 50%;
    margin-left: 20px;
    padding-bottom: 30px;
    
}
.flxible-section-half-width-img img{
    width: 70%;
}
.flxible-section-half-width-text a{
    text-decoration: none;
    padding: 5px 15px;
    color: wheat;
    background-image: linear-gradient(#ff5959, blue);
    border-radius: 3px;
}
.misson-color{
    text-align: center;
    font-size: 35px;
    color: blue;
}
.misson-color span{
    color: tomato;
}
.slider_parent{
    display: flex;
    margin-left: 25px;
    margin-bottom: 100px;
}
.slider1{
    width: 50%;
    margin-left: 5px;
    background-image: linear-gradient(rgb(91, 247, 195, .4), rgb(185, 167, 142, .4));
    border-radius: 5px;
    
}
.slider1 img{
    width: 50%;
}
.slider2{
    width: 50%;
    margin-left: 5px;
    background-image: linear-gradient(rgba(213, 129, 235, 0.349), rgba(180, 111, 111, 0.4));
    border-radius: 5px;
}
.slider2 img{
    width: 50px;
}
.slider3{
    width: 50%;
    margin-left: 5px;
    background-image: linear-gradient(rgba(91, 247, 91, 0.4), rgba(182, 185, 142, 0.4));
    border-radius: 5px;
}
.slider3 img{
    width: 50%;
}
.limits{
    display: flex;
    padding-top: 100px;

}
.limit-img img{
    width: 80%;
    background-image: url(./image/shape-6.png);
    background-repeat: no-repeat;
}
.limit-btn h3{
    font-size: 40px;
    font-weight: 600;
}
.limit-btn a{
    text-decoration: none;
    padding: 5px 15px;
    color: wheat;
    background-image: linear-gradient(#610dce, rgb(179, 255, 0));
    border-radius: 3px;
}

.community{
    display: flex;
    padding-top: 100px;
    margin-bottom: 100px;
}
.community-btn h3{
    font-size: 40px;
    font-weight: 600;
}
.community-btn a{
    text-decoration: none;
    padding: 5px 15px;
    color: wheat;
    background-image: linear-gradient(#ce0d47, rgb(0, 255, 242));
    border-radius: 3px;
}
.connunity-img img{
    width: 70%;
    background-image: url(./image/shape-6.png);
    background-repeat: no-repeat;
}
.owner{
    display: flex;
    margin-bottom: 100px;
}
.owner-taitle h4{
    text-align: center;
    font-size: 25px;
}
.owner-taitle span{
    color: yellow;
}
.owner-img{
    width: 50%;
    padding-left: 10px;
}
.owner-img img{
    width: 60%;
}
.owner-lorem{
    width: 50%;
    padding-left: 20px;
    border: 2px solid thistle;
    border-radius: 8px;
}
footer{
    background-color: black;
}
.footer-color h2{
    text-align: center;
 font-size: 15px;
 font-weight: 300;
 color: white;
 font-style: oblique;
}
.footer-color h2 span{
    color: yellow;
    font-style: normal;
}
.footer-end p{
    color: rgb(150, 140, 140);
    text-align: center;
    font-size: 8px;
    font-weight: 200;
}